<!DOCTYPE html>
<html  
    xmls="https://www.w3.org/1999/xhtml"
    xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tareas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

    <h1>Tareas</h1>

    <table>
        <thead>
        <tr>
            <th>Descripcion</th>
            <th>Creada en</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tr th:each="tarea: ${tareas}">
            <td th:text="${tarea.descripcion}"></td>
            <td th:text="${tarea.fechaCreacion}"></td>
            <td>
                <a type="button" th:href="@{/tareas/editar/{id}(id = ${tarea.id})}">Editar</a>
                <a type="button" th:href="@{/tareas/eliminar/{id} (id = ${tarea.id})}">Eliminar</a>
            </td>
            </td>
        </tr>
    </table>
    <a th:href="@{/tareas/nuevaTarea}">Nueva tarea</a>
</body>
</html>