<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Inicio de sesión</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<h1>Inicio de sesión</h1>
<p></p>
<p th:if="${error}" class="error-message">Nombre de usuario o contraseña erroneos</p>
<form th:action="@{/tareas/login}" method="post">
    <label for="username">Nombre de usuario</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Contrasela</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>