<!DOCTYPE html>
<html  
    xmls="https://www.w3.org/1999/xhtml"
    xmlns:th="http:/ /www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nueva tarea</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body class="p-3 mb-2 bg-dark text-white text-center">

    
    <div class="justify-content-center align-items-center">
        <h1 class="cover-heading">Nueva tarea</h1>
     </div>
    

    <form class="form-group"method="post" th:object="${tarea}">
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input id="descripcion" th:field="*{descripcion}" name="descripcion" type="text">
            <span class="error-message" th:if="${#fields.hasErrors('descripcion')}" th:errors = "*{descripcion}">Por favor ingrese una descripción</span>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-lg btn-secondary">Guardar</button>
        </div>
         </form>
       
</body>
</html>